name: Run 

on:
  push:
    branches:
      - main  # Change this to your desired branch, e.g., 'master' or 'main'
  pull_request:
    branches:
      - main  # Adjust this according to your needs

jobs:
  run-script:
    runs-on: ubuntu-latest
    timeout-minutes: 360  # 6 hours (360 minutes)

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Specify the Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run Python script
      run: python none.py
